/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    padding-top: 70px;
    padding-bottom: 20px;
    background: whitesmoke;
}

/*--- navigation bar ---*/
.navbar {
    background: teal;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #000;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav > li > a {
    color: #fff;
}

.navbar-nav > li {
    background-color: teal;
}

ul.nav a:hover {
    color: #000 !important;
}

.row {
    background: #f8f9fa;
    margin-top: 20px;
}

.col {
    border: solid 1px #6c757d;
    padding: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    color: black;
    text-align: center;
}

.navbar-inverse .navbar-brand {
    display: flex;
    align-items: center;
    padding: 5px;
}

.navbar-brand img {
    height: 100%;
    margin-right: 20px;
}

ul li {
    color: #000;
}

.btn-default {
    margin-left: 0px;
    margin-right: 20px;
    min-width: 100px;
}

.sensing {
    height: 40px;
    width: 40px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin-top: 15px;
    text-align: right;
}

.not_sensing {
    height: 40px;
    width: 40px;
    background-color: darkgray;
    border-radius: 50%;
    display: inline-block;
    margin-top: 15px;
    text-align: right;
}


form table {
    margin-top: 50px;
    margin-bottom: 20px;
}

form td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
}

textarea {
  overflow: auto;
  resize: none;
}

.success {
    background-color: rgba(0, 128, 0, 0.15);
    padding: 10px;
    text-align: center;
    color: green;
    border: 1px solid green;
    border-radius: 3px;
}

.required label, label.required {
    content: ' *';
    color: red;
}

/* style for steps and arrow buttons */
.wrapper {
    font-size: 0;
}

.box {
    display: inline-block;
    font-size: 16px;
    float: left;
    width: 20%;
}

.box_left {
    display: inline-block;
    font-size: 16px;
    float: left;
    width: 15%;
    margin-right: 5px;
}

.box_right {
    display: inline-block;
    font-size: 16px;
    float: right;
    width: 20%;
    margin-left: 10px;
}

.input-field {
	padding: 3px;
	background-color: white;
	box-sizing: border-box;
	border: 2px;
    max-width: 130px;
}

/* style for log container */
#log-container { overflow: auto; height: 250px; margin-top: 50px}

/* style for Positions */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 5px;
  border: 1px solid lightgray;
  background-color: lavender;
}

.grid-container > div {
  /*background-color: lightgray;*/
  margin: 5px;
  text-align: center;
  font-size: 15px;
}

.target_position {
  grid-row-start: 2;
}

.barcode-grid-container {
  display: table;
  width: 600px;
  height: 50px;
  grid-gap: 20px;
  padding: 5px;
  border: 1px solid lightgray;
  background-color: lavender;
}

.barcode-maincontent {
    float: left;
    width: 60%;
}

.barcode-sidebox {
    float: right;
    width: 30%;
}

.saved_position {
    grid-row-start: 1;
}

.last_saved {
  grid-row-start: 2;
}

.steps_label {
  grid-row-start: 1;
  grid-column-start: 2;
}

.step_up {
  grid-row-start: 2;
  grid-column-start: 2;
}

.steps {
  grid-row-start: 3;
}

.step_down {
  grid-row-start: 4;
  grid-column-start: 2;
}
