{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'contactsapp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'contactsapp/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'contactsapp/css/main.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Django Phone Book</title>
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            CRUD Operations Sample</a></div>
</nav>

<div class="col-md-3"></div>
<div class="col-md-6"></div>
<h3 class="text_primary">My PhoneBook</h3>
<hr style="border-top:1px dotted #000;"/>
{% block body %}
{% endblock %}
</div>
</body>





